@import 'fonts.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --txt: #FFF;
    --title: #fff;
    --body: #000;
    --text: #FFFFFF;
    --btn: #69CF17;
    --row: #292929;
    --card: #0C0C0C;
    --burger: #393636;
}

::-webkit-scrollbar-thumb {
    background: var(--btn);
    border-radius: 30px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0;
}    

body {
    font-family: Roboto;
    background: var(--body);
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav{
    background-color: black;
    border: 1px solid rgba(125, 115, 115, 0.5);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background: var(--body);
}

.nav__hedaer {
    background-color: var(--body);
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list{
    display: flex;
}

.header{
    background-image: url(../img/food-burger-wallpaper-preview\ 1.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
  
}

.header__content {
    background: linear-gradient(0deg, rgba(12, 12, 12, 0.72), rgba(12, 12, 12, 0.72));
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.header__div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fastfood{
    font-size: 26px;
    color: var(--text);
    padding: 12px 18px;
    font-family: 'Roboto-Bold';
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    font-style: normal;
}

.vector__burger{
    font-family: 'Raleway-Bold';
    font-weight: 900;
    font-size: 72px;
    line-height: 85px;
    font-style: normal;
    margin-bottom: 18px;
    color: var(--btn);
}

.vector__slesh{
    color: var(--btn);
    font-size: 36px;
    font-family: 'Raleway-Regular';
    font-weight: 400;
    line-height: 17px;
    font-style: normal;
    margin-bottom: 18px;

}

.vector_param{
    font-size: 18px;
    max-width: 1110px;
    width: 100%;
    color: var(--txt);
    margin-top: 18px;
    font-family: 'Raleway-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}

.java{
    margin-top: 30px;
}

.java__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.java__block{
    color: var(--text);
    text-decoration: none;
    transition: 1s;
    font-family: 'Raleway-Regular';
    color: var(--text);
    font-weight: 100;
    font-size: 50px;
    line-height: 25px;
    font-style: normal;
    text-align: right;
}

.java__block:hover {
    background: var(--btn);
    color: var(--text);
    padding: 13px 76px;
}

.java__scrip{
    color: var(--text);
    font-size: 25px;
    text-decoration: none;
    transition: 1s;
    font-family: 'Raleway-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    font-style: normal;
    color: var(--text);
}

.java__scrip:hover {
    background: var(--btn);
    padding: 15px 71px;
    color: var(--text);
}

.link{
    text-decoration: none;
    color: var(--text);
    transition: 1s;
    display: flex;
    align-items: center;
    display: inline-block;
    padding: 21px 20px;
    text-align: right;
    font-family: 'Roboto-Regular';
    line-height: 19px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    transition: 500ms;
} 

.link:hover {
    background-color: var(--btn);
}

.section__map{
    text-align: center;
    background: var(--text);
    
}

.maps{
   width: 100%;
}

.nav__foother{
    background: #1A3406;
    background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
}

.fastburger{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fastburgerphone{
    font-size: 20px;
    color: var(--text);
    font-size: 15px;
    color: var(--text);
    font-family: 'Roboto-Regular';
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: var(--text);
    font-style: normal;
    display: inline-block;
}

.faststreet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faststreetul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.faststreetsilka{
    text-decoration: none;
    font-size: 15px;
    color: var(--text);
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 0 20px;
    font-style: normal;
    display: inline-block;
}

.header__section{
    background-image: url(../img/foto__burger.jpg);
    background-repeat: no-repeat;
    min-height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__street88{
    text-align: center;
    font-size: 55px;
    font-family: 'Raleway-Bold';
    font-weight: 700;
    line-height: 65px;
    text-transform: uppercase;
    color: rgba(105, 207, 23, 0.7);
    text-shadow: 0px 0px 15px rgba(191, 171, 171, 0.4);
    font-style: normal;
    font-size: 55px;
}

.nav__section {
    background: var(--row);
    box-shadow: 0px 1px 8px rgba(17, 17, 17, 0.3);
    margin-bottom: 15px;
    margin: 48px 0;
}

.main__link {
    font-size: 18px;
    color: var(--txt);
    margin-left: 30px;
    padding: 20px 6px;
    display: inline-block;
    position: relative;
    font-family: 'Raleway-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--text);
    font-style: normal;
}

.main__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: var(--txt);
    transition: 400ms;
}

.main__link:hover::after {
    width: 100%;
}

.burger__cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 5px;
}

.burger__card {
    min-height: 524px;
    background: var(--card);
    border: 1px solid var(--text);
    border-radius: 4px;
    padding: 15px;
    margin: 0 auto;
}

.burger__title {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 15px;
    padding: 15px 0;
    color: var(--text);
}

.burger__title__title {
    font-size: 50px;
    line-height: 15px;
    color: var(--btn);
    margin: 15px 0;
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding: 20px 0;
}

.burger {
    background: var(--burger);
    padding-bottom: 15px;
}

.burger__txt {
    max-width: 338px;
    width: 100%;
    font-size: 19px;
    line-height: 25px;
    color: var(--txt);
    font-family: 'Raleway-Regular';
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
}

.burger__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger__img {
    width: 100%;
}

.burger__image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(105, 207, 23, 0.9);
    transition: 500ms;
    transform: scale(0);
}

.burger__logo {
    color: var(--txt);
    position: absolute;
    transform: scale(0);
    transition: .5s;
}

.burger__image:hover::before {
    transform: scale(1);
}

.burger__image:hover .burger__logo {
    transform: scale(1);
}

.street88 {
    max-width: 190px;
    width: 100%;
    background: rgba(10, 148, 24, 0.75);
    border: 4px solid #06600F;
    border-radius: 4px;
}

.min__nav-icon {
    color: var(--title);
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.section__map {
    margin: 50px 0;
}

.section__foother {
    padding: 35px 0;
}

.nav__link{
    text-decoration: none;
    color: var(--text);
    transition: 1s;
    display: flex;
    align-items: center;
    display: inline-block;
    padding: 28px 20px;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto-Regular';
} 

.nav__link:hover {
    background-color: var(--btn);
}


.nav__list {
    display: flex;
}

.nav__list__item{
    display: flex;
}

.foother__section {
    max-width: 1110px;
    width: 100%;
    font-family: 'Raleway-Thin';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    color: var(--text);
    font-style: normal;
}

.section__burger__text {
    padding: 30px 0;
}

.section__foother {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fast__food {
    display: flex;
    margin: auto;
}